:root {
  --dark: #160901;
  --grey: #a6a5a4;
  --m-grey: #bfbfbf;
  --light-grey: #d9d9d9;
  --white: #fff;
  --light-brown: #8c7370;
  --brown: #594240;
}
body {
  margin: 0;
  padding: 0;
  max-width: auto;
}

.search-form {
  padding: 15 0 15 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}
input {
  height: 25px;
  box-shadow: 2px 2px 10px rgba(5, 118, 255, 1), 5px 5px 5px #000000;
  border-radius: 25px;
  padding: 10px 15px 10px 15px;
  font-family: 'Aclonica', sans-serif;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
}

input:focus-within {
  box-shadow: 2px 2px 10px rgba(5, 118, 255, 1), 5px 5px 5px #000000;
  border-radius: 25px;
  padding: 10px 15px 10px 15px;
  font-family: 'Aclonica', sans-serif;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  outline: transparent;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}
.photo-card {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #000000;
  border-radius: 8px;
  width: 325px;
  height: 275px;
  display: block;
  box-shadow: 2px 2px 20px rgba(5, 118, 255, 0.7),
    5px 5px 5px rgba(255, 255, 255, 0.7);
}

.photo-card:hover,
.photo-card:focus {
  transform: scale(1.1);
  transition-duration: 1000ms;
  box-shadow: 2px 2px 20px rgba(5, 118, 255, 0.7),
    5px 5px 5px rgba(0, 0, 0, 0.7);
}

.pictures {
  width: 325px;
  height: 200px;
  border-bottom: 1px solid #000000;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.info {
  font-family: 'Aclonica', sans-serif;
  font-size: 13px;
  padding: 0 5 10 5;
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}
.more-hidden {
  padding: 15 0 15 0;
  justify-content: center;
}

.more-resaults {
  padding: 10px 15px 10px 15px;
}

/*BLUE*/
.rot-360-noscoop:hover {
  filter: hue-rotate(360deg);
  transform: rotate(360deg);
}
.rot-135:hover {
  filter: hue-rotate(135deg);
}
.rot-90:hover {
  filter: hue-rotate(90deg);
}
/*BLUE*/
.b-blue,
.b-blue:before {
  background: rgba(5, 118, 255, 1);
  background: -moz-linear-gradient(45deg, c 0%, rgba(36, 248, 255, 1) 100%);
  background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(0%, rgba(5, 118, 255, 1)),
    color-stop(100%, rgba(36, 248, 255, 1))
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(5, 118, 255, 1) 0%,
    rgba(36, 248, 255, 1) 100%
  );
  background: -o-linear-gradient(
    45deg,
    rgba(5, 118, 255, 1) 0%,
    rgba(36, 248, 255, 1) 100%
  );
  background: -ms-linear-gradient(
    45deg,
    rgba(5, 118, 255, 1) 0%,
    rgba(36, 248, 255, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(5, 118, 255, 1) 0%,
    rgba(36, 248, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0576ff', endColorstr='#24f8ff', GradientType=1 );
}
.button2 {
  display: inline-block;
  font-size: 18px;
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 24px;
  border: 1px solid white;
  transition: all 0.5s;
  filter: hue-rotate(0deg);
  color: #fff;
  text-shadow: 1px 1px 2px rgba(5, 118, 255, 1), 2px 2px 2px #000000;
  box-shadow: 2px 2px 10px rgba(5, 118, 255, 1), 5px 5px 5px #000000;
  font-family: 'Aclonica', sans-serif;
  text-decoration: none;
  padding: 10px;
}

h1 {
  font-family: 'Aclonica', sans-serif;
  margin: 20px;
  text-align: center;
  text-shadow: 2px 2px 20px rgba(5, 118, 255, 1), 5px 5px 5px #000000;
  font-size: 50px;
  color: #ffffff;
}
@media screen and (max-width: 1199px) {
  h1 {
    font-size: 45px;
  }
}

/* ----------------STYLE background ----------------*/
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  /* overflow: hidden; */
}

.container {
  position: relative;
  height: 100%;
  overflow: visible;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%; /* Wysokość jest ustawiona na 200% dla płynnego przesuwania */
  background: url('./images/background.jpg') repeat-y;
  background-size: cover;
  animation: scrollBackground 15s linear infinite;
}

@keyframes scrollBackground {
  from {
    background-position: 0 100%;
  }
  to {
    background-position: 0% 0%;
  }
}
